<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/TOP/Desktop/untitled">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.freecrm.testcases.config"></class>
            <class name="com.freecrm.testcases.LoginPageTest"></class>
            <class name="com.freecrm.testcases.HomePageTest"></class>
            <class name="com.freecrm.testcases.contactPageTest"></class>
        </classes>
    </test>
</suite>